*{
    margin:0;
    padding:0;
    box-sizing: content-box; 
}
body{
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
    height: 100%;
}
nav{
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
    font-family: 'Baloo 2', cursive;
}
nav::after{
    content:'';
    clear: both;
    display:table;
}
nav ul{
    float: right;
    list-style-type: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
    margin : 0 5px;
}
 nav ul li a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 15px;
    padding:8px 12px;
}
nav ul li a:hover{
    border-radius: 5px;
    color:#b4afb8 ; 
        
}
nav ul ul {
    position:absolute;
    top:90px;
    visibility: hidden;
    transition: top .3s;
}
nav ul li:hover>ul{
    top:70px;
    opacity:1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    background:#e7d5d5;
    margin:0px;
    width: 100px;
    height:40px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgb(119, 119, 119);
}
nav ul ul li a {
    color:black;
    position: relative;
    left:5px;
    bottom:7px;

}
.logo a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}
nav .logo{
    float: left;
    font-size: 27px;
    
    line-height: 70px;
    padding-left:60px;
    
}
.search-box{
    background-color: #e7d5d5;
    height: 20px;
    border-radius: 30px;
    padding: 10px; 
    margin-top: 20px;
}
.search-box:hover>.search-text{
    width:120px;
    padding:0 6px;
}
.search-button{
    
    color:#016464;
    float :right;
    width: 10px;
    padding-top: 0;
    border-radius: 50%;
    background:#e7d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-text{
    border:none;
    background:none;
    outline:none;
    float: left;
    padding: 0;
    color:black;
    font-size: 15px;
    transition: 0.4s;
    line-height: 20px;
    width:0px;
}
#changethis{
    height:10px;
    width: 100%;
    margin: auto;
}
.svg1{
    position: relative;
    top:30px;
    left:100px;
}
#imgsvg{
    position: relative;
    width:500px;
    height:500px;
    left:200px;
    z-index: -1;
}
.features, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}
.features{
    margin:auto;
    border: 1px solid rgb(100, 100, 100);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.74);
    color:black;
}
.features tbody tr>td{
    max-width:150px;
}

.features img{
    width:100px;
    height:100px;
}
td:first-child{
    width: 10%;
}
#keyfeatures{
    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px; 
}
.planets{
    position: absolute;
    bottom:70px;
    left: 25%;
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    color:black;
}
.planets ul{
    list-style-type: none;
    padding:3px;
}
.planets ul li{
    padding:10px;
}
#english{
    position: relative;
    left:40%;
    width: 200px;
    height: 50px;
    margin: 15px;
    border-radius: 4px;
    font-size: 18px;
    color: black;
    border: none;
    font-weight: 600;
    background-color: rosybrown;
    cursor: pointer;
}
footer{
    clear: both;
    color: black;
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #A37B7B;
    font-family:  'Cormorant Garamond', serif;

}

.main-content{
   display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding:10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
   margin: 20px 0 0 0 ;
   position: relative;
}
.box .content::before{
    content: '';
    position: absolute;
    top: -10px;
    height: 2px;
    width: 100%;
    background:#1a1a1a;
}


.left .content .social{
   margin:20px 0 0 0 ;
}
.left .content .social a{
   margin:0 2px;
}

.left .content .social a i{
   color:white;
   height: 40px;
   width: 40px;
   background: #1a1a1a;
   line-height: 40px;
   text-align: center; 
   border-radius: 5px;
   transition: .3s;
   cursor: pointer;
}

.left .content .social a i:hover{
    background: #cccaca;
}
.center .content .fas{
    font-size: 23px;
    background:1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align:center;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}
.center .content .fas:hover{
   background: #FFF7F7;
}
.center .center .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color:#0e0e0e;
}
.right form .msg{
    margin-top: 10px;
}
.right form .email input{
    width: 97%;
    height:20px;
}
.right form input , .right form textarea{
    width: 100%;
    font-size: 17px;
    background: white;
    padding-left: 10px;
    border:1px solid #222222;
}
.right form input{
height: 35px;
}
.right form .btn{
   margin-top: 10px;
}
textarea{
    resize: vertical;
    font-family: 'Baloo 2', cursive;
    margin-top:5px;
}
.right form .btn button{
   height: 40px;
   width: 100%;
   border:none;
   outline: none;
   background: #111111;
   font-size:17px;
   color: white;
   font-weight: 600;
   cursor: pointer;
   transition: .3s;
}
.right form .btn button:hover{
   background: #cccaca;
}
.bottom{
   text-align: center;
   padding:10px;
   background: #e7d5d5;
}
.bottom span{
   color:#252121;
}
.bottom a{
   color:#080808;
   text-decoration: none;
}
.bottom a:hover{
   text-decoration: underline;
}
@media screen and (max-width:900px){
   footer{
       position: relative;
       bottom: 0px;
   }  
   .main-content{
       flex-wrap: wrap;
       flex-direction: column;
   }
   .main-content .box{
       margin: 5px 0 ;
   }
}

