body{
    margin: 0;
    padding: 0;
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
}
nav{
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
    font-family: 'Baloo 2', cursive;
}
nav::after{
    content:'';
    clear: both;
    display:table;
}
nav ul{
    float: right;
    list-style-type: none;
    margin-top: 0;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
    margin : 0 5px;
}
 nav ul li a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 15px;
    padding:8px 12px;
}
nav ul li a:hover{
    border-radius: 5px;
    color:#b4afb8 ; 
        
}
nav ul ul {
    position:absolute;
    top:90px;
    visibility: hidden;
    transition: top .3s;

}
nav ul li:hover>ul{
    top:70px;
    opacity:1;
    visibility: visible;
    
}
nav ul ul li{
    position: relative;
    background:#e7d5d5;
    margin:0px;
    width: 100px;
    height:40px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgb(119, 119, 119);
}
.logo a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;

}
nav .logo{
    float: left;
    font-size: 27px;
    line-height: 70px;
    padding-left:60px;
    
}
.search-box{
    background-color: #e7d5d5;
    height: 20px;
    border-radius: 30px;
    padding: 10px; 
    margin-top: 20px;
}
.search-box:hover>.search-text{
    width:120px;
    padding:0 6px;
}
.search-button{
    
    color:#016464;
    float :right;
    width: 10px;
    padding-top: 0;
    border-radius: 50%;
    background:#e7d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-text{
    border:none;
    background:none;
    outline:none;
    float: left;
    padding: 0;
    color:black;
    font-size: 15px;
    transition: 0.4s;
    line-height: 20px;
    width:0px;
}





footer{
    clear: both;
    color: black;
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #A37B7B;
    font-family:  'Cormorant Garamond', serif;
}




.main-content{
   display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding:10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
   margin: 20px 0 0 0 ;
   position: relative;
}
.box .content::before{
    content: '';
    position: absolute;
    top: -10px;
    height: 2px;
    width: 100%;
    background:#1a1a1a;
}


.left .content .social{
   margin:20px 0 0 0 ;
}
.left .content .social a{
   margin:0 2px;
}

.left .content .social a i{
   color:white;
   height: 40px;
   width: 40px;
   background: #1a1a1a;
   line-height: 40px;
   text-align: center; 
   border-radius: 5px;
   transition: .3s;
   cursor: pointer;
}

.left .content .social a i:hover{
    background: #cccaca;
}
.center .content .fas{
    font-size: 23px;
    background:1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align:center;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}
.center .content .fas:hover{
   background: #FFF7F7;
}
.center .center .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color:#0e0e0e;
}
.right form .msg{
    margin-top: 10px;
}
.right form .email input{
    width: 97%;
    height:20px;
}
.right form input , .right form textarea{
    width: 100%;
    font-size: 17px;
    background: white;
    padding-left: 10px;
    border:1px solid #222222;
}
.right form input{
height: 35px;
}
.right form .btn{
   margin-top: 10px;
}
.right form .btn button{
   height: 40px;
   width: 100%;
   border:none;
   outline: none;
   background: #111111;
   font-size:17px;
   color: white;
   font-weight: 600;
   cursor: pointer;
   transition: .3s;
}

textarea{resize:vertical;}

.right form .btn button:hover{
   background: #cccaca;
}

.bottom{
   text-align: center;
   padding:10px;
   background: #e7d5d5;
}
.bottom span{
   color:#252121;
}
.bottom a{
   color:#080808;
   text-decoration: none;
}
.bottom a:hover{
   text-decoration: underline;
}
@media screen and (max-width:900px){
   footer{
       position: relative;
       bottom: 0px;
   }  
   .main-content{
       flex-wrap: wrap;
       flex-direction: column;
   }
   .main-content .box{
       margin: 5px 0 ;
   }
}

.elementet{
    width: 50px;
    height:50px;
    margin: 30px;

}

table, th, td {
    border: 1px solid black;
  }



.elementet img{
  width: 300px;
  height:350px;
  margin-left: 0px;
  position: relative;
  }
  .docu {
    left: 200px;
    right: 50px;
    top: 0px;
    margin-left: 500px;
    color:white;
  }

  
  table, th, td {
    border: 1px solid white;
  }
  
  .kuti{
      border:hsl(0, 0%, 100%) solid 3px;
      text-align:center;
      width:17%;
      padding: 9px;
      padding-left: 0px;
      margin-left: 500px;
      text-shadow: 3px 3px deeppink;
  }

  .li {
    float: left ;
    margin: 0 20px;
    color: white;
    font-size: 30px;
  }
  
  
  