body{
    margin:0;
    overflow:hidden;
    background: black;
}

.score{
    position: fixed;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:white;
}

.container{
    position:fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-white{
    position: fixed;
    height: 100px;
    width: 200px;
    left: 600px;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    user-select: none;
}

h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
}

p{
    color: #938b8b;
    font-size: 20px;
    margin-top: -20px;
}

button{
    background-color:#0066ccc9;
    color:white;
    width:100%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 9999px;
}
