body{
    margin :10;
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
    height:500px;
}
.navbar{
    width:100%;
    margin-left:0px;
}
header{
    border:6px hidden white;
    border-radius: 10px;
    background:linear-gradient(121deg, rgba(178, 168, 184, 0.726), rgba(19, 16, 61, 0.308) 70.71%);
    height:50px;
    position: relative;

}

nav{
    float:right;
    
}
header::after{
    content:'';
    display:table;
    clear:both;
}
.logo{
    width:50px;
    float:left;
    margin-left:20px;
    padding:5px;

}
nav{
    float:right; 
}
nav ul{
    margin:0;
    padding:0;
    list-style: none;

   
}
nav li{
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
    padding-top:18px;
}

nav a {
color:white;
text-decoration: none;
text-transform: uppercase;
font-weight: normal;
}




nav a:hover{
    color:rgb(185, 188, 190);
}
i{
    font-size:30px;
}
#astro{
   font-size:30px;
   position:absolute;
   margin-top:8px;
   width: 50%;
   float: left;
 
}
span , a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;

}



#h1{
    color: white;
    text-align: center;
    
}

p,a{

    color: white;
    text-align: center;
    margin-top: 0px;

}

p a:hover{
    color:rgb(185, 188, 190);
}

h3{

    
    color: rgb(95, 96, 139);
    margin-top: 350px;
    margin-left: 1020px;

}
h2{

    
    color: rgb(95, 96, 139);
    margin-top: -50px;
    margin-left: 994px;

}
#card{

    
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 887px;

}


.two{


    margin-top: -350px;
    margin-left: 200px;
}

.button{

    position:absolute;
    color: white;
    margin-top: -90px;
    text-decoration:none;
}

#quote{

   font-family:Brush Script MT;
    position:absolute;
    
    margin-top: -640px;
    margin-left: 340px;
    color:#5186b1;
    
}

.dropbtn {
    background-color: #5186b1;
    color: white;
    padding: 10px;
    margin-left:45px;
    margin-top: -30px;
    font-size: 16px;
    border: none;
    
  }
  
  .dropdown {
    position: relative;
    color: rgb(216, 189, 189);
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0bcdf;
    min-width: 144px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    
    margin-left:45px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(104, 131, 170);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #d49fcd;}
  
  
  
  
  
  
  
  .vequara{
  
  position:absolute;
  text-size-adjust: 30px;
  margin-top: -600px;
  margin-left: 340px;
  border: 3px solid rgba(59, 134, 153, 0.747);
     border-radius: 10px;
      background:linear-gradient(121deg, rgba(178, 168, 184, 0.726), rgba(19, 16, 61, 0.308) 70.71%);
  }
  
  
  
  
  
  
  
  
  
  
  #match , .tabela, #todays{  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  #match {
    border-collapse: collapse;
    width: 50%;
    color: #ddd;
    margin-left: 200px;
  }
  
  #todays, .tabela {
    padding: 5px;
    color: #ddd;
  }
  
  .tabela{
  
      
    background-color: rgb(218, 121, 121);
  }
  
  #todays{
      
    background-color: rgb(218, 164, 164);
  }
  
  
  