body{
    margin :10;
    background-image:url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
    height:500px;
}
.navbar{
    width:100%;
    margin-left:0px;
}
header{
    border:6px hidden white;
    border-radius: 10px;
    background:linear-gradient(121deg, rgba(246, 242, 248, 0.726), rgba(0, 0, 0, 0.308) 70.71%);
    height:50px;
    position: relative;
    
}
nav{
    float:right;
    
}
header::after{
    content:'';
    display:table;
    clear:both;
}
.logo{
    width:50px;
    float:left;
    margin-left:20px;
    padding:5px;

}
nav{
    float:right; 
}
nav ul{
    margin:0;
    padding:0;
    list-style: none;
   
}
nav li{
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
    padding-top:18px;
}

nav a {
color:white;
text-decoration: none;
text-transform: uppercase;
font-weight: normal;
}
nav a:hover{
    color:rgb(185, 188, 190);
}
i{
    font-size:30px;
}
#astro{
   font-size:30px;
   position:absolute;
   margin-top:8px;
 
}
span , a {
    text-decoration: none;
    color:black;
    font-weight: bold;

}
.elementet{
    width: 50px;
    height:50px;
    margin: 30px;
    position: relative;

}

table, th, td {
    border: 1px solid black;
  }



.elementet img{
  width: 300px;
  height:350px;
  margin-left: 0px;
  position: relative;
   
  }
  .text {
    left: 200px;
    right: 50px;
    top: 0px;
    margin-left: 500px;
    color:white;
  }
  table, th, td {
    border: 1px solid white;
  }
  
  h2{
      border:hsl(0, 0%, 100%) solid 3px;
      text-align:center;
      width:17%;
      padding: 9px;
      padding-left: 0px;
     margin-left: 500px;
      text-shadow: 3px 3px deeppink;
  }