body{
  margin: 0;
  padding: 0;
  background-image: url("stars-964022_1280.png");
}

#container{
  text-align: center;
  background-image: url("stars-964022_1280.png");
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  top: 0;
}

h1{
  font-family: 'Baloo 2', cursive;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

#display{
  width: 40vw;
  color: rgb(0, 0, 0);
  min-height: 70vh;
  margin: 0 auto;
  background-color: #e7d5d5;
  text-align: center;
  padding: 1rem;
}

#display > img{
  width: 20rem;
}

#display > p {
  font-size: 1.3rem;
}


#draw {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 5vh auto;
  background-color:#e7d5d5;
  border-radius: 10px;
  color:rgb(0, 0, 0);
}
